<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7EJVapf23ZtXMbEbDVZspYSJ0JzNysqE</string>
	<key>GCM_SENDER_ID</key>
	<string>731193343631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wood.working</string>
	<key>PROJECT_ID</key>
	<string>wood-working-5e98f</string>
	<key>STORAGE_BUCKET</key>
	<string>wood-working-5e98f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731193343631:ios:3a3863d6bacc630d9d7afa</string>
</dict>
</plist>